<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include custom-header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <script>
        // Mobile nav height compensation
        function adjustFirstSectionPadding() {
          const navHeight = document.querySelector('.centered-nav').offsetHeight;
          document.getElementById('about').style.paddingTop = navHeight + 40 + 'px';
        }
        
        window.addEventListener('resize', adjustFirstSectionPadding);
        window.addEventListener('load', adjustFirstSectionPadding);
        </script>
  </body>
</html>